body {
  margin: 0;
  font-family: 'Segoe UI',  sans-serif;
  background-color: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
  display: flex;
  margin:0;
  padding: 0;
  justify-content: center;
  padding: 2rem;
}

.todo-container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  padding-bottom: 5rem;
}

h1 {
  font-size: 2.2rem;
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 20px;
}

.items{
  justify-content: space-between;
}
.todo-container h1 {
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 1.5rem;
}

.todo-input-group {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.todo-input-group input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 50px;
  width: 600px;
  min-width: 300px;
  max-width: 600px;
  
}

.todo-input-group button {
  padding: 0.75rem 1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  
  transition: background-color 0.3s ease;
}

.todo-input-group button:hover {
  background-color: #4338ca;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.todo-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.save-btn, .cancel-btn{
  border: none;
  color:white;
  background-color: #4f46e5;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  margin-right: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.save-btn:hover, .cancel-btn:hover, .edit-btn:hover{
  background-color: #4338ca;
}
.edit-btn{
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 0.25rem;
  background-color:#4f46e5;
  color:white;
}

.delete-btn {
  background-color: #f87171;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: #ef4444;
}

.todo-text {
  flex: 1;
  word-break: break-word;
  font-size: 1rem;
  transition: text-decoration 0.2s ease;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

.todo-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.error-message{
  color:red;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}